<!DOCTYPE html>
<html lang="en" class="fill-height-md">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

  <title>{{title}}</title>
  
  {{> style}}
  </head>
  <body>
    <div class="wrapper">
      {{> navbar }}
      <div class="content-wrapper">
          <div class="row"><div class="col-sm"><div class="float-right">{{username}}</div></div></div>
        <section class="content">
          {{> content}}
        </section>
      </div>
      {{> footer}}
    </div>
    {{> scripts}}
  </body>
</html>