{{#> template}}
  {{#*inline "content"}}
    <nav style="background-color: #38598a; padding: 10px 0;">
      <div class="container">
        <div class="row">
          <div class="col-xs-3 pl-4 pr-3">
            <button class="round previous" style="height: 35px; width: 35px" onclick="goToIndex()">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="25"
                height="25"
                fill="currentColor"
                class="bi bi-arrow-left"
                viewBox="0 -2 20 20"
              >
                <path
                  fill-rule="evenodd"
                  d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"
                ></path>
              </svg>
            </button>
          </div>
          <div class="col-xs-3 pl-3 pt-1" style="border-left: 1px solid #8AA2C6;">
            <a href="{{dashboardUrl}}" style="text-decoration: underline; color: white">BC Registries Dashboard</a>
          </div>
          <div class="col-xs-1 pl-3 pt-1" style="font-size:medium; color: white; font-weight: bold">></div>
          <div class="col-xs-2 pl-3 pt-1" style="font-size:medium; color: white"><a href="/" style="text-decoration: underline; color: white">Business Search</a></div>
          <div class="col-xs-1 pl-3 pt-1" style="font-size:medium; color: white; font-weight: bold">></div>
          <div class="col-xs-4 pl-2 pt-1" style="font-size:medium; color: white">
            Address Search
          </div>
        </div>
      </div>
    </nav>
    <main role="main">
      <div class="container">
        <div class="row">
          <h2 class="indented">Search By Address:</h2>
        </div>
        <div class="row">
          <div id="line"><hr /></div>
        </div>
        <div class="row">
          <div class="col-sm-1">
            <label for="address" class="m-2">Address:</label>
          </div>
          <div class="col-sm-4">
            <input type="text" class="form-control m-2" id="address" />
          </div>
          <div class="col-sm-1">
            <label for="folioInput" class="folio-label m-2">Folio:</label>
          </div>
          <div class="col-sm-4">
            <input id="folioInput" name="folioInput" class="folio-input m-2" style="width: 11em" maxlength="15" />
          </div>
        </div>
        <div class="row">
          <div class="col-sm-1">
            <label for="city" class="m-2">City:</label>
          </div>
          <div class="col-sm-4">
            <input type="text" class="form-control m-2" id="city" />
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-4">
            <button onclick="back()" id="backButton" class="btn btn-secondary m-2 text-right">Back</button>
            <button onclick="searchAddress()" id="searchButton" class="btn btn-primary m-2 vrbutton"><span id="searchSpinner" class="spinner-border spinner-border-sm d-none"></span><span id="searchBtnTxt">View Search Results</span></button>
          </div>
        </div>
        <div class="row">
          <div id="line"><hr /></div>
        </div>
        <div class="row">
          <h3 class="indented">Additional Disclaimers:</h3>
        </div>
        <div class="row">
          <ol>
            <li>Site Registry address data is received and stored in a variety of formats. [<a style="color:cornflowerblue;cursor:help" data-toggle="modal" data-target="#moreinfo1">more info</a>]</li>
            <li>Your search criteria may require input of the specific municipality name vs the city name. [<a style="color:cornflowerblue;cursor:help" data-toggle="modal" data-target="#moreinfo2">more info</a>]</li>
          </ol>
        </div>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="moreinfo1" role="dialog">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-body m-4">
              Site Registry data is collected from a variety of sources. Address information is not vetted by Registry staff for formatting consistency.
              <br>
              Examples of address entries: 
              <br>
              <br>
              <ul>
                <li>6284 Darnley Street</li>
                <li>4805 &amp; 4823 East Hastings Street</li>
                <li>Site 21 Landfill - Deer Lake Park</li>
                <li>7100 Block Edmonds Street &amp; 7100 Block 18th Avenue</li>
                <li>6857 - 6891 Royal Oak Avenue</li>
                <li>Unknown Burns Lake</li>
                <li>Six Mile Pit Burns Lake</li>
              </ul>
            </div>
            <div class="modal-footer text-left">
              <button onclick="$('#moreinfo1').modal('hide')" class="btn btn-secondary">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal fade" id="moreinfo2" role="dialog">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-body m-4">
              Some site addresses are received and entered using a municipality or local name instead of the name of the 
              greater urban area in which the municipality or local area is situated.<br>For example, a site may be recorded 
              with a city name of:
              <br>
              <br>
              <ul>
                <li>Burnaby, Vancouver, North Vancouver or Richmond, when the site is located in Greater Vancouver</li>
                <li>Victoria, Saanich, Oak Bay or Langford, when the site is located in Greater Victoria</li>
              </ul>
              Thus, entering the name of the greater urban area &lpar;for example 'Vancouver' or 'Victoria'&rpar; may not 
              always identify a site contained in the Site Registry located within that greater area. Where the name of the 
              greater urban area is not used in the Site Registry, a query using the local or municipal name could identify 
              a site.
            </div>
            <div class="modal-footer text-left">
              <button onclick="$('#moreinfo2').modal('hide')" class="btn btn-secondary">Close</button>
            </div>
          </div>
        </div>
      </div>
      <!-- End Modal -->
      <input type="hidden" id="breadcrumbSearch" value="Address Search" />
    </main>
    <script>
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      });
    </script>
  {{/inline}}
{{/template}}