{{#> template}}
  {{#*inline "content"}}
    <main role="main">
      <div class="container">
        <div class="row">
          <div class="col-sm">
              <div>Authenticating...</div>
          </div>
        </div>
      </div>
    </main>
    <script type="text/javascript" defer>
    window.onload = function() {
        finishAuthentication();
    }
    </script>
  {{/inline}}
{{/template}}