{{#> template}}
  {{#*inline "content"}}
  <nav style="background-color: #38598a; padding: 10px 0;">
      <div class="container">
        <div class="row">
          <div class="col-xs-3 pl-4 pr-3">
            <button class="round previous" style="height: 35px; width: 35px" onclick="goToIndex()">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="25"
                height="25"
                fill="currentColor"
                class="bi bi-arrow-left"
                viewBox="0 -2 20 20"
              >
                <path
                  fill-rule="evenodd"
                  d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"
                ></path>
              </svg>
            </button>
          </div>
          <div class="col-xs-3 pl-3 pt-1" style="border-left: 1px solid #8AA2C6;">
            <a href="/" style="text-decoration: underline; color: white">BC Registries Dashboard</a>
          </div>
          <div class="col-xs-1 pl-3 pt-1" style="font-size:medium; color: white; font-weight: bold">></div>
          <div class="col-xs-5 pl-2 pt-1" style="font-size:medium; color: white">
            Crown Lands File Number Search
          </div>
        </div>
      </div>
    </nav>
    <main role="main">
      <div class="container">
        <div class="row">
          <h2 class="indented">Search By:</h2>
        </div>
        <div class="row">
          <div id="line"><hr /></div>
        </div>
        <div class="row">
          <form class="form-inline">
            <div class="form-group row">
              <div class="col-sm mt-1 ml-4">
                <label for="crownLandsFile" class="m-2">Crown Lands File #:</label>
              </div>
              <div class="col-sm mt-1">
                <input type="text" class="form-control m-2" id="crownLandsFile" maxlength="10">
              </div>
            </div>
            <div class="form-group row">
              <div class="col-sm mt-1 ml-4">
                <label for="folioInput" class="folio-label">Folio:</label>
              </div>
              <div class="col-sm mt-1">
                <input id="folioInput" name="folioInput" class="form-control m-2 folio-input" style="width: 11em" maxlength="15" />
              </div>
            </div>
          </form>
        </div>
        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-4">
            <button onclick="back()" id="backButton" class="btn btn-secondary m-2 text-right">Back</button>
            <button onclick="searchCLF()" id="searchButton" class="btn btn-primary m-2 vrbutton"><span id="searchSpinner" class="spinner-border spinner-border-sm d-none"></span><span id="searchBtnTxt">View Search Results</span></button>
          </div>
        </div>
      </div>
      <input type="hidden" id="breadcrumbSearch" value="Crown Lands File Number Search" />
    </main>
    <script>
      // only allow numbers in the file number input
      const ele = document.getElementById('crownLandsPin');
      const state = {
          value: ele.value,
      };

      ele.addEventListener('keydown', function (e) {
          const target = e.target;
          state.selectionStart = target.selectionStart;
          state.selectionEnd = target.selectionEnd;
      });

      ele.addEventListener('input', function (e) {
          const target = e.target;

          if (/^[0-9]*$/.test(target.value)) {
              state.value = target.value;
          } else {
              target.value = state.value;
              target.setSelectionRange(state.selectionStart, state.selectionEnd);
          }
      });
    </script>
  {{/inline}}
{{/template}}