{{#> template}}
  {{#*inline "content"}}
    <main role="main">
      <div class="container">
        <div class="row">
          <h2 class="indented">Search By:</h2>
        </div>
        <div class="row">
          <div id="line"><hr /></div>
        </div>
        <div class="row">
          <div class="form-group row">
            <div class="col-xs-1 mt-1 ml-2">
              <label for="crownLandsPin" class="m-2">Crown Lands PIN:</p>
            </div>
            <div class="col-xs-1">
              <input type="text" maxlength="7" class="form-control m-2" id="crownLandsPin">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-4">
            <button onclick="back()" id="backButton" class="btn btn-secondary m-2 text-right">Back</button>
            <button onclick="searchCLP()" id="searchButton" class="btn btn-primary m-2">View Search Results</button>
          </div>
        </div>
      </div>
    </main>
    <script>
      // only allow numbers in the pin input
      const ele = document.getElementById('crownLandsPin');
      const state = {
          value: ele.value,
      };

      ele.addEventListener('keydown', function (e) {
          const target = e.target;
          state.selectionStart = target.selectionStart;
          state.selectionEnd = target.selectionEnd;
      });

      ele.addEventListener('input', function (e) {
          const target = e.target;

          if (/^[0-9]*$/.test(target.value)) {
              state.value = target.value;
          } else {
              target.value = state.value;
              target.setSelectionRange(state.selectionStart, state.selectionEnd);
          }
      });
    </script>
  {{/inline}}
{{/template}}