{{#> template}}
  {{#*inline "content"}}
    <main role="main">
      <div class="container">
        <div class="row">
          <h2 class="indented">Search By:</h2>
        </div>
        <div class="row">
          <div id="line"><hr /></div>
        </div>
        <div class="row">
          <div class="form-group row">
            <div class="col-xs-1 mt-1 ml-2">
              <label for="crownLandsFile" class="m-2">Crown Lands File #:</p>
            </div>
            <div class="col-xs-1">
              <input type="text" class="form-control m-2" id="crownLandsFile" maxlength="7">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-4">
            <button onclick="back()" id="backButton" class="btn btn-secondary m-2 text-right">Back</button>
            <button onclick="searchCLF()" id="searchButton" class="btn btn-primary m-2">View Search Results</button>
          </div>
        </div>
      </div>
    </main>
  {{/inline}}
{{/template}}