{{#> template}}
  {{#*inline "content"}}
    <main role="main">
      <div class="container">
        <div class="row">
          <div class="col-sm-4"></div>
          <div class="col-sm-4">
              <p class="account-error  p-1 pl-2 pr-2 border d-none" id="accountError">No active premium accounts were found</p>
          </div>
          <div class="col-sm-4"></div>
        </div>

        <div class="row">
          <div class="col-sm">
            <p>
              Access denied.  Please request an account at BC Registries: <a href="https://www.bcregistry.ca/business/auth/choose-authentication-method">https://www.bcregistry.ca/business/auth/choose-authentication-method</a>
            </p>
          </div>
        </div>

      </div>
    </main>
  {{/inline}}
{{/template}}