{{#> template}}
  {{#*inline "content"}}
    <main role="main">
      <div class="container">
        <div class="row">
          <div class="col-sm-4"></div>
          <div class="col-sm-4">
              <p class="account-error  p-1 pl-2 pr-2 border d-none" id="accountError">No active premium accounts were found</p>
          </div>
          <div class="col-sm-4"></div>
        </div>

        <div class="row">
          <div class="col-sm">
            <p class="top-text">
              NOTE: This Registry will NOT produce a Land Title search. If you require a Land Title record please go to
              <a href="http://www.ltsa.ca">www.ltsa.ca</a>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-auto">
            <div class="disclaimer-box">
              <p class="disclaimer-text"><strong>Disclaimer</strong></p>
              <hr />
              <p class="disclaimer-text">The information in this registry has been filed in accordance with the provisions
                of the Environmental Management Act. While we believe the information to be reliable, the Province of
                British Columbia makes no representation or warranty as to its accuracy or completeness. Persons using this
                information do so at their own risk.</p>
            </div>
          </div>

          <div class="col-sm">
            <table class="table my-table">
              <thead>
                <tr>
                  <th><strong>Search By:</strong></th>
                  <th>Selection List</th>
                  <th>Synopsis</th>
                  <th>Detail</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><a href="parcel-id" id="parcel-id">Parcel ID Search</a></td>
                  <td>$26</td>
                  <td>$26</td>
                  <td>$51</td>
                </tr>
                <tr>
                  <td><a href="crown-lands-pin" id="crown-lands-pin">Crown Lands PIN Search</a></td>
                  <td>$26</td>
                  <td>$26</td>
                  <td>$51</td>
                </tr>
                <tr>
                  <td><a href="crown-lands-file" id="crown-lands-file">Crown Lands File # Search</a></td>
                  <td>$26</td>
                  <td>$26</td>
                  <td>$51</td>
                </tr>
                <tr>
                  <td><a href="site-id-search" id="site-id-search">Site ID Search</a></td>
                  <td>$11</td>
                  <td>$26</td>
                  <td>$51</td>
                </tr>
                <tr>
                  <td><a href="address-search" id="address-search">Address Search</a></td>
                  <td>$51</td>
                  <td>$26</td>
                  <td>$51</td>
                </tr>
                <tr>
                  <td><a href="area-search" id="area-search">Area Search</a></td>
                  <td>$51 (area of 0.5km radius) <br />or $101 (area of 5.0km radius)</td>
                  <td>$26</td>
                  <td>$51</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <br />
        <br />

        <div class="row">
          <div class="col-sm">
            <p class="bottom-text">All services are subject to GST.</p>
          </div>
        </div>
        <br />
      </div>
      <!-- Select account modal -->
      <div class="modal fade" id="setAccountModal" tabindex="-1" role="dialog" aria-labelledby="setAccountModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <form>
              <div class="modal-header">
                <h5 class="modal-title" id="setAccountModalLabel">Select An Account</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="form-group row">
                  <div class="col-sm-8">
                    <select id="accountSelect" class="form-control">
                      {{#each accounts}}
                      <option value="{{this.label}}">{{this.label}}</option>
                      {{/each}}
                    </select>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class='btn btn-primary' onclick="setAccount()" id="setAccountButton"><span id="setAccountSpinner" class="spinner-border spinner-border-sm d-none"></span><span id="setAccountBtnTxt">Set Account</span></button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
    <script>
      $(window).on('load', function() {
        const setAccountLink = $('#setAccountLink');
        if (setAccountLink.text() == '-') {
          setAccountLink.text('Select an account');
          $('#setAccountModal').modal('show');
        }
        if ($('#accountSelect').val() == null) {
          setAccountLink.text('No eligible accounts found');
          setAccountLink.removeAttr('data-toggle');
          setAccountLink.removeAttr('data-target');
          setAccountLink.css('cursor','default');
          $('#accountError').removeClass('d-none');
        }
        if ($('#accountSelect').val() !== null) {
          if ($('#accountSelect option').length == 1) {
            setAccountLink.removeAttr('data-toggle');
            setAccountLink.removeAttr('data-target');
            setAccountLink.css('cursor','default');
          }
        }
    });
    </script>
  {{/inline}}
{{/template}}