{{#> template}}
  {{#*inline "content"}}
    <main role="main">
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <p class="top-text">
              NOTE: This Registry will NOT produce a Land Title search. If you require a Land Title record please go to
              <a href="http://www.ltsa.ca">www.ltsa.ca</a>
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-auto">
            <div class="disclaimer-box">
              <p class="disclaimer-text"><strong>Disclaimer</strong></p>
              <hr />
              <p class="disclaimer-text">The information in this registry has been filed in accordance with the provisions
                of the Environmental Management Act. While we believe the information to be reliable, the Province of
                British Columbia makes no representation or warranty as to its accuracy or completeness. Persons using this
                information do so at their own risk.</p>
            </div>
          </div>

          <div class="col-sm">
            <table class="table my-table">
              <thead>
                <tr>
                  <th><strong>Search By:</strong></th>
                  <th>Selection List</th>
                  <th>Synopsis</th>
                  <th>Detail</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><a href="parcel-id">Parcel ID Search</a></td>
                  <td>$26.00</td>
                  <td>$26.00</td>
                  <td>$51.00</td>
                </tr>
                <tr>
                  <td><a href="crown-lands-pin">Crown Lands PIN Search</a></td>
                  <td>$26.00</td>
                  <td>$26.00</td>
                  <td>$51.00</td>
                </tr>
                <tr>
                  <td><a href="crown-lands-file">Crown Lands File # Search</a></td>
                  <td>$26.00</td>
                  <td>$26.00</td>
                  <td>$51.00</td>
                </tr>
                <tr>
                  <td><a href="site-id-search">Site ID Search</a></td>
                  <td>$11.00</td>
                  <td>$26.00</td>
                  <td>$51.00</td>
                </tr>
                <tr>
                  <td><a href="address-search">Address Search</a></td>
                  <td>$51.00</td>
                  <td>$26.00</td>
                  <td>$51.00</td>
                </tr>
                <tr>
                  <td><a href="area-search">Area Search</a></td>
                  <td>$51.00 <br />or $101.00</td>
                  <td>$26.00</td>
                  <td>$51.00</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <br />
        <br />

        <div class="row">
          <div class="col-sm">
            <p class="bottom-text">All searches are subject to GST.</p>
            {{!-- <input id="participantId"><button onclick="testSearch()">CLICK ME</button> --}}
          </div>
        </div>
        <br />
      </div>
    </main>
  {{/inline}}
{{/template}}