{{#> template}}
  {{#*inline "content"}}
    <main role="main">
      <div class="container">
        <div class="row">
          <h2 id="searchType">Search</h2>
        </div>
        <div class="row">
          <table>
            <tr>
              <th><p id="searchCriteriaTitle" style="font-size:120%;font-weight:bold">Search Criteria: </p></th>
              <td><p id="searchCriteria"></p></td>  
              <td><p id="searchCriteria2"></p></td>  
              <td><p id="searchCriteria3"></p></td>  
            </tr>
          </table>
        </div>
        <div class="row">
          <div class="col-sm">
            <table class="table" id="sitesTable">
              <thead>
                <tr>
                  <th><strong>Report Type</strong></th>
                  <th>Site ID</th>
                  <th>Updated Date</th>
                  <th>Address/City</th>
                  <th>Pending</th>
                  <th id="downloadHeader"> </th>
                  <th id="emailHeader">  </th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
        <button onclick="getNilPdf()">CLICK ME</button>
        <div class="row">
          <div class="col-sm-2">
            <button onclick="back()" id="backButton" class="btn btn-secondary m-2 text-right">Back</button>
          </div>
        </div>
      </div>
    </main>
    <script>
        var searchType = localStorage.getItem("searchType")
        var searchCriteria = localStorage.getItem("searchCriteria")
        var searchCriteria2 = localStorage.getItem("searchCriteria2")
        var searchCriteria3 = localStorage.getItem("searchCriteria3")
        document.getElementById("searchCriteria").innerHTML = searchCriteria;
        switch(searchType) {
          case "pid": {
            document.getElementById("searchType").innerHTML = "Parcel ID Search Results";
            document.getElementById("searchCriteriaTitle").innerHTML = "Parcel ID:";
            break;
          }
          case "clf": {
            document.getElementById("searchType").innerHTML = "Crown Lands File Search Results";
            document.getElementById("searchCriteriaTitle").innerHTML = "Crown Lands File #:";
            break;
          }
          case "clp": {
            document.getElementById("searchType").innerHTML = "Crown Lands PIN Search Results";
            document.getElementById("searchCriteriaTitle").innerHTML = "Crown Lands PIN:";
            break;
          }
          case "sid": {
            document.getElementById("searchType").innerHTML = "Site ID Search Results";
            document.getElementById("searchCriteriaTitle").innerHTML = "Site ID:";
            break;
          }
          case "adr": {
            document.getElementById("searchType").innerHTML = "Address Search Results";
            document.getElementById("searchCriteriaTitle").innerHTML = "Address:";
            document.getElementById("searchCriteria2").innerHTML = searchCriteria2;
            break;
          }
          case "coords": {
            document.getElementById("searchType").innerHTML = "Area Search Results";
            document.getElementById("searchCriteriaTitle").innerHTML = "Coordinates & Area Size:";
            document.getElementById("searchCriteria").innerHTML = localStorage.getItem("latDms");
            document.getElementById("searchCriteria2").innerHTML = localStorage.getItem("lonDms");
            document.getElementById("searchCriteria3").innerHTML = searchCriteria3+' Area';
            break;
          }
          case "postal": {
            document.getElementById("searchType").innerHTML = "Area Search Results";
            document.getElementById("searchCriteriaTitle").innerHTML = "Coordinates & Area Size:";
            document.getElementById("searchCriteria").innerHTML = localStorage.getItem("postalCode");
            document.getElementById("searchCriteria2").innerHTML = searchCriteria3+' Area';
            break;
          }
        }
    </script>
    <script>
      let data = JSON.parse(localStorage.getItem("searchResults"));
      var results = [];
      for (let obj of data) {
        myObj = {};
        myObj['Report Type'] = obj.pending == 'PENDING' ? `<select id="reportType${obj.siteId}" class='form-select form-select-sm'><option selected>Choose a Report Type</option><option value='synopsis'>Synopsis Report</option></select>` : `<select id="reportType${obj.siteId}" class='form-select form-select-sm'><option selected>Choose a Report Type</option><option value='synopsis'>Synopsis Report</option><option value='detailed'>Detailed Report</option></select>`;
        myObj['Site ID'] = parseInt(obj.siteId);
        myObj['Updated Date'] = obj.updatedDate;
        myObj['Address/City'] = obj.city;
        myObj['Pending'] = obj.pending;
        myObj[' '] = `<button class='btn btn-primary' id="downloadButton${obj.siteId}" onclick="getPdf('${obj.siteId}')">Download</button>`;
        myObj['  '] = `<button class='btn btn-primary' id="emailButton${obj.siteId}" onclick="emailPdf('${obj.siteId}')">Email</button>`;
        results.push(myObj);
      };
      console.log(results)

      $(document).ready(function () {
        var tableClient = $('#sitesTable').DataTable({
          language: {
            emptyTable: "No sites were found with the given search criteria."
          },
          paging: false,
		      searching: false,
          data: results,
          columns: [
            {data: "Report Type"},
            {data: "Site ID"},
            {data: "Updated Date"},
            {data: "Address/City"},
            {data: "Pending"},
            {data: " "},
            {data: "  "},
          ],
          //ajax: getData(),
        });
      });

    //function getData() {
    //  var searchType = localStorage.getItem("searchType");
    //  var searchCriteria = localStorage.getItem("searchCriteria");
    //  var searchCriteria2 = localStorage.getItem("searchCriteria2");
    //  var searchCriteria3 = localStorage.getItem("searchCriteria3");
    //  var url = '';
    //  if (searchType == 'pid') {
    //    url = `/site-registry/searchPid/${searchCriteria}`
    //  } else if (searchType == 'clf') {
    //    url = `/site-registry/searchCLF/${searchCriteria}`
    //  } else if (searchType == 'clp') {
    //    url = `/site-registry/searchCLP/${searchCriteria}`
    //  } else if (searchType == 'sid') {
    //    url = `/site-registry/searchSiteId/${searchCriteria}`
    //  } else if (searchType == 'adr') {
    //    url = `/site-registry/searchAddr/${searchCriteria}/${searchCriteria2}`
    //  } else if (searchType == 'coords' || searchType == 'postal') {
    //    url = `/site-registry/searchArea/${searchCriteria}/${searchCriteria2}/${searchCriteria3}`
    //  }
      //$.ajax({
      //  url: url,
      //  success: function (data) {
      //    var results = [];
      //    $.each(data, function (ind, obj) {
      //      myObj = {};
      //      myObj['Report Type'] = `<select id="reportType${obj.siteId}" class='form-select form-select-sm'><option selected>Choose a Report Type</option><option value='synopsis'>Synopsis Report</option><option value='detailed'>Detailed Report</option></select>`
      //      myObj['Site ID'] = parseInt(obj.siteId);
      //      myObj['Updated Date'] = obj.modifiedDate != '' ? obj.modifiedDate : obj.registeredDate;
      //      myObj['Address/City'] = obj.city;
      //      myObj[' '] = `<button class='btn btn-primary' id="downloadButton${obj.siteId}" onclick="getPdf('${obj.siteId}')">Download</button>`;
      //      myObj['  '] = `<button class='btn btn-primary' id="emailButton${obj.siteId}" onclick="emailPdf('${obj.siteId}')">Email</button>`;
      //      results.push(myObj);
      //    });
      //    $('#sitesTable').DataTable().rows.add(results).draw();
      //    document.getElementById('downloadHeader').innerHTML = '';
      //    document.getElementById('emailHeader').innerHTML = '';
      //  },
      //});
      //  }
    </script>
  {{/inline}}
{{/template}}