{{#> template}}
  {{#*inline "content"}}
    <main role="main">
      <div class="container">
        <div class="row">
          <h2 id="searchType">Search</h2>
        </div>
        <div class="row">
          <table>
            <tr>
              <th><p id="searchCriteriaTitle" style="font-size:120%;font-weight:bold">Search Criteria: </p></th>
              <td><p id="searchCriteria"></p></td>  
              <td><p id="searchCriteria2"></p></td>  
              <td><p id="searchCriteria3"></p></td>  
            </tr>
          </table>
        </div>
        <div class="row">
          <div class="col-sm">
            <table class="table" id="sitesTable">
              <thead>
                <tr>
                  <th><strong>Report Type</strong></th>
                  <th>Site ID</th>
                  <th>Updated Date</th>
                  <th>Address/City</th>
                  <th>Pending</th>
                  <th id="downloadHeader"> </th>
                  <th id="emailHeader">  </th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-1">
            <button onclick="back()" id="backButton" class="btn btn-secondary m-2 text-right">Back</button>
          </div>
          <div class="col-sm-3">
            <button type="button" class="btn btn-primary m-2 text-right" data-toggle="modal" data-target="#emailSearchResultsModal" id="openEmailSearchResultsModal">Email Search Results</button>
          </div>
        </div>
      </div>
      <!-- Email Report Modal -->
      <div class="modal fade" id="emailReportModal" tabindex="-1" role="dialog" aria-labelledby="emailReportModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <form>
              <div class="modal-header">
                <h5 class="modal-title" id="emailReportModalLabel">Email Report</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="form-check">
                  <div class="form-group row">
                    <div class="col-sm-4">
                        <input class="form-check-input" type="radio" name="emailReportRadio" id="selectReportEmailRadio" value="option1" checked>
                        <label for="selectReportEmailRadio">Select an email from contacts:</label>
                      </div>
                    <div class="col-sm-8">
                      <select id="reportEmailSelect" class="form-control">
                        {{#each emails}}
                        <option value="{{this}}">{{this}}</option>
                        {{/each}}
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-4">
                      <input class="form-check-input" type="radio" name="emailReportRadio" id="inputReportEmailRadio" value="option2">
                      <label for="inputReportEmailRadio">Input an email:</label>
                    </div>
                    <div class="col-sm-8">
                      <input id="reportEmailInput" class="form-control" disabled>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class='btn btn-primary' onclick="emailPdf()" id="emailReportButton"><span id="emailReportSpinner" class="spinner-border spinner-border-sm d-none"></span><span id="emailReportBtnTxt">Send Email</span></button>
                <param id="reportSiteId" value="">
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- Email Search Results Modal-->
      <div class="modal fade" id="emailSearchResultsModal" tabindex="-1" role="dialog" aria-labelledby="emailSearchResultsModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <form>
              <div class="modal-header">
                <h5 class="modal-title" id="emailSearchResultsModalLabel">Email Search Results</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="form-check">
                  <div class="form-group row">
                    <div class="col-sm-4">
                        <input class="form-check-input" type="radio" name="emailSearchResultsRadio" id="selectSearchResultsEmailRadio" value="option1" checked>
                        <label for="selectSearchResultsEmailRadio">Select an email from contacts:</label>
                      </div>
                    <div class="col-sm-8">
                      <select id="searchResultsEmailSelect" class="form-control">
                        {{#each emails}}
                        <option value="{{this}}">{{this}}</option>
                        {{/each}}
                      </select>
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="col-sm-4">
                      <input class="form-check-input" type="radio" name="emailSearchResultsRadio" id="inputSearchResultsEmailRadio" value="option2">
                      <label for="inputSearchResultsEmailRadio">Input an email:</label>
                    </div>
                    <div class="col-sm-8">
                      <input id="searchResultsEmailInput" class="form-control" disabled>
                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class='btn btn-primary' onclick="emailSearchResults()" id="emailSearchResultsButton"><span id="emailSearchResultsSpinner" class="spinner-border spinner-border-sm d-none"></span><span id="emailSearchResultsBtnTxt">Send Email</span></button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>
    <script>
      $("#selectSearchResultsEmailRadio").click(function() {
        $("#searchResultsEmailSelect").prop('disabled', false);
        $("#searchResultsEmailInput").prop('disabled', true);
      })
      $("#inputSearchResultsEmailRadio").click(function() {
        $("#searchResultsEmailInput").prop('disabled', false);
        $("#searchResultsEmailSelect").prop('disabled', true);
      })
      $("#selectReportEmailRadio").click(function() {
        $("#reportEmailSelect").prop('disabled', false);
        $("#reportEmailInput").prop('disabled', true);
      })
      $("#inputReportEmailRadio").click(function() {
        $("#reportEmailInput").prop('disabled', false);
        $("#reportEmailSelect").prop('disabled', true);
      })
      $(document).on("click", ".emailButton", function () {
        const siteId = $(this).data('id');
        if ($(`#reportType${siteId}`).prop('selectedIndex') != 0) {
          const reportText = $(`#reportType${siteId} option:selected`).text();
          $("#emailReportModal #reportSiteId").val( siteId );
          $("#emailReportModalLabel").text(`Email ${reportText} for Site ${parseInt(siteId)}`);
          $("#emailReportModal").modal('toggle');
        } else {
          alert('Please select a report type');
        }
      });
    </script>
    <script>
        var searchType = localStorage.getItem("searchType")
        var searchCriteria = localStorage.getItem("searchCriteria")
        var searchCriteria2 = localStorage.getItem("searchCriteria2")
        var searchCriteria3 = localStorage.getItem("searchCriteria3")
        document.getElementById("searchCriteria").innerHTML = searchCriteria;
        switch(searchType) {
          case "pid": {
            document.getElementById("searchType").innerHTML = "Parcel ID Search Results";
            document.getElementById("searchCriteriaTitle").innerHTML = "Parcel ID:";
            break;
          }
          case "clf": {
            document.getElementById("searchType").innerHTML = "Crown Lands File Search Results";
            document.getElementById("searchCriteriaTitle").innerHTML = "Crown Lands File #:";
            break;
          }
          case "clp": {
            document.getElementById("searchType").innerHTML = "Crown Lands PIN Search Results";
            document.getElementById("searchCriteriaTitle").innerHTML = "Crown Lands PIN:";
            break;
          }
          case "sid": {
            document.getElementById("searchType").innerHTML = "Site ID Search Results";
            document.getElementById("searchCriteriaTitle").innerHTML = "Site ID:";
            break;
          }
          case "adr": {
            document.getElementById("searchType").innerHTML = "Address Search Results";
            document.getElementById("searchCriteriaTitle").innerHTML = "Address:";
            document.getElementById("searchCriteria").innerHTML = searchCriteria;
            document.getElementById("searchCriteria2").innerHTML = searchCriteria2;
            break;
          }
          case "coords": {
            document.getElementById("searchType").innerHTML = "Area Search Results";
            document.getElementById("searchCriteriaTitle").innerHTML = "Coordinates & Area Size:";
            document.getElementById("searchCriteria").innerHTML = localStorage.getItem("latDms");
            document.getElementById("searchCriteria2").innerHTML = localStorage.getItem("lonDms");
            document.getElementById("searchCriteria3").innerHTML = searchCriteria3+' Area';
            break;
          }
          case "postal": {
            document.getElementById("searchType").innerHTML = "Area Search Results";
            document.getElementById("searchCriteriaTitle").innerHTML = "Coordinates & Area Size:";
            document.getElementById("searchCriteria").innerHTML = localStorage.getItem("postalCode");
            document.getElementById("searchCriteria2").innerHTML = searchCriteria3+' Area';
            break;
          }
        }
    </script>
    <script>
      let data = JSON.parse(localStorage.getItem("searchResults"));
      var results = [];
      for (let obj of data) {
        myObj = {};
        myObj['Report Type'] = obj.pending == 'PENDING' ? `<select id="reportType${obj.siteId}" class='form-select form-select-sm'><option selected>Choose a Report Type</option><option value='synopsis'>Synopsis Report</option></select>` : `<select id="reportType${obj.siteId}" class='form-select form-select-sm'><option selected>Choose a Report Type</option><option value='synopsis'>Synopsis Report</option><option value='detailed'>Detailed Report</option></select>`;
        myObj['Site ID'] = parseInt(obj.siteId);
        myObj['Updated Date'] = obj.updatedDate;
        myObj['Address/City'] = obj.city;
        myObj['Pending'] = obj.pending;
        myObj[' '] = `<button class='btn btn-primary' id="downloadButton${obj.siteId}" onclick="getPdf('${obj.siteId}')" style="width:100%"><span id="downloadSpinner${obj.siteId}" class="spinner-border spinner-border-sm d-none"></span><span id="downloadBtnTxt${obj.siteId}">Download</span></button>`;
        myObj['  '] = `<button class='btn btn-primary emailButton' data-id="${obj.siteId}">Email</button>`;
        {{!-- myObj['  '] = `<button class='btn btn-primary' id="emailButton${obj.siteId}" onclick="emailPdf('${obj.siteId}')"><span id="emailSpinner${obj.siteId}" class="spinner-border spinner-border-sm d-none"></span><span id="emailBtnTxt${obj.siteId}">Email</span></button>`; --}}
        results.push(myObj);
      };

      $(document).ready(function () {
        var tableClient = $('#sitesTable').DataTable({
          language: {
            emptyTable: `<div class="m-2">No sites were found with the given search criteria.</div><button class='btn btn-primary' id="downloadNilReport" onclick="getNilPdf()"><span id="nilSpinner" class="spinner-border spinner-border-sm d-none"></span><span id="nilBtnText">Download Nil Search Report</span></button>`
          },
          paging: false,
		      searching: false,
          data: results,
          columns: [
            {data: "Report Type"},
            {data: "Site ID"},
            {data: "Updated Date"},
            {data: "Address/City"},
            {data: "Pending"},
            {data: " "},
            {data: "  "},
          ]
        });
      });
    </script>
  {{/inline}}
{{/template}}