{{#> template}}
  {{#*inline "content"}}
    <main role="main">
      <div class="container">
        <div class="row">
          <h2 id="searchType">asdf</h2>
        </div>
        <div class="row">
          <div class="col-sm-3">
            <p id="searchCriteriaTitle" style="font-size:120%;font-weight:bold">Search Criteria: </p>
          </div>
          <div class="col-sm-2">
            <p id="searchCriteria"></p>
          </div>
          <div class="col-sm-2">
            <p id="searchCriteria2"></p>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <table class="table">
              <thead>
                <tr>
                  <th><strong>Report Type</strong></th>
                  <th>Site ID</th>
                  <th>Updated Date</th>
                  <th>Address/City</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td id="reportType">
                    <select class="form-select form-select-sm">
                        <option selected>Choose a Report Type</option>
                        <option value="synopsis">Synopsis Report</option>
                        <option value="detailed">Detailed Report</option>
                    </select>
                </td>
                  <td id="siteId">123</td>
                  <td id="updatedDate">May 12, 2022</td>
                  <td id="addressCity">Victoria</td>
                  <td id="download"><button class="btn btn-primary" onclick="getPdf()">Download</button></td>
                  <td id="email"><button class="btn btn-primary" onclick="emailPdf()">Email</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          {{!-- <div class="col-sm-2"></div> --}}
          <div class="col-sm-2">
            <button onclick="back()" id="backButton" class="btn btn-secondary m-2 text-right">Back</button>
          </div>
        </div>
        <label>
          Email:</label><input id="emailInput" value="">
      </div>
    </main>
    <script>
        var searchType = localStorage.getItem("currentSearch")
        var searchCriteria = localStorage.getItem("searchCriteria")
        var searchCriteria2 = localStorage.getItem("searchCriteria2")
        if (searchType == "pid") {
            document.getElementById("searchType").innerHTML = "Parcel ID Search Results";
            document.getElementById("searchCriteriaTitle").innerHTML = "Parcel ID:";
        } else if (searchType == "clf") {
            document.getElementById("searchType").innerHTML = "Crown Lands File Search Results";
            document.getElementById("searchCriteriaTitle").innerHTML = "Crown Lands File #:";
        } else if (searchType == "clp") {
            document.getElementById("searchType").innerHTML = "Crown Lands PIN Search Results";
            document.getElementById("searchCriteriaTitle").innerHTML = "Crown Lands PIN:";
        } else if (searchType == "adr") {
          document.getElementById("searchType").innerHTML = "Address Search Results";
          document.getElementById("searchCriteriaTitle").innerHTML = "Address:";
        }
        document.getElementById("searchCriteria").innerHTML = searchCriteria;
        document.getElementById("searchCriteria2").innerHTML = searchCriteria2;
        document.getElementById("siteId").innerHTML = localStorage.getItem('siteId');
        document.getElementById("updatedDate").innerHTML = localStorage.getItem('modifiedDate');
        document.getElementById("addressCity").innerHTML = (localStorage.getItem('address_1') +', '+ localStorage.getItem('city'));
    </script>
  {{/inline}}
{{/template}}