<!DOCTYPE html>
<html lang="en" class="fill-height-md">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <style>
      .container {
        width: 600px;
        height: auto;
      }
      th {
        text-align: right;
        width: 150px;
      }
      table {
        width: 500px;
      }
      tr {
        width: 500px;
      }
      hr {
        margin-top: 0.5em;
        margin-bottom: 0.5em;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <p>As of: {d.modifiedDate}</p>
      <p>{d.todaysDate}</p>
      <p>{d.currentTime}</p>
      <h2>BC Online: Site Registry</h2>
      <p>For: {d.account}</p>
      <p>Folio:</p>

      <h3>Synopsis Report</h3>
      <h4>SITE LOCATION</h4>

      <table>
        <tr>
          <th>Site ID:</th>
          <td>{d.siteId}</td>
        </tr>
        <tr>
          <th>Victoria File:</th>
          <td>{d.victoriaFileNumber}</td>
        </tr>
        <tr>
          <th>Regional File:</th>
          <td>{d.regionalFileNumber}</td>
        </tr>
        <tr>
          <th>Region:</th>
          <td>{d.region}</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <th>Latitude:</th>
          <td>{d.lat}</td>
        </tr>
        <tr>
          <th>Longitude:</th>
          <td>{d.lon}</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <th>Common Name:</th>
          <td>{d.commonName}</td>
        </tr>
        <tr>
          <th>Site Address:</th>
          <td>{d.address_1} {d.address_2}</td>
        </tr>
        <tr>
          <th>City:</th>
          <td>{d.city}</td>
        </tr>
        <tr>
          <th>Postal Code:</th>
          <td>{d.postalCode}</td>
        </tr>
        <tr>
          <th>Prov/State:</th>
          <td>{d.provState}</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <th>Registered:</th>
          <td>{d.registeredDate}</td>
        </tr>
        <tr>
          <th>Updated:</th>
          <td>{d.modifiedDate}</td>
        </tr>
        <tr>
          <th>Detail Removed:</th>
          <td>{d.detailRemovedDate}</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <th>Notations:</th>
          <td>{d.notations}</td>
        </tr>
        <tr>
          <th>Participants:</th>
          <td>{d.participants}</td>
        </tr>
        <tr>
          <th>Associated Sites:</th>
          <td>{d.assocSites}</td>
        </tr>
        <tr>
          <th>Documents:</th>
          <td>{d.documents}</td>
        </tr>
        <tr>
          <th>Susp. Land Use:</th>
          <td>{d.suspLandUse}</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <th>Parcel Descriptions:</th>
          <td>{d.parcelDesc}</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <th>Location Description:</th>
          <td>{d.locationDescription}</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <th>Status:</th>
          <td>{d.status}</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <th>Fee Category:</th>
          <td>{d.classification}</td>
        </tr>
      </table>