<!DOCTYPE html>
<html lang="en" class="fill-height-md">
  <head>
    <meta charset="utf-8" />
    <style>
      body {
        margin: 20px;
        font-family: Arial, Helvetica, sans-serif;
      }
      .container {
        width: 690px;
        height: auto;
      }
      .disclaimer {
        font-size: 12px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h2 style="text-align: center">Site Registry - {d.searchType} Search</h2>
      <h3 style="text-align: center; margin: 0.5rem">BC Registries and Online Services</h3>
      <br />
      <hr />
      <br />
      <div class="row">
        <div class="col-sm-8 text-right">
          No records from the Site Registry that match the search criteria provided:
        </div>
        <br />
        <div class="col-sm-4 text-left">
          <table>
            <tr>
              <td>{d.searchCriteria1}</td>
            </tr>
            <tr>
              <td>{d.searchCriteria2}</td>
            </tr>
            <tr>
              <td>{d.searchCriteria3}</td>
            </tr>
          </table>
        </div>
      </div>
      <br />
      <div class="row"><div class="col-lg text-center">You have been charged for this information.</div></div>
      <hr />
      <br />
      <div class="row">
        <div class="col-lg text-center">
          Sites may be revealed by searching with alternate search methods. For example, a site not revealed in an Area
          search may be revealed by searching with another piece of information such as PID, PIN, address, or Crown
          Lands File Number.
        </div>
      </div>
      <br />
      <div class="row">
        <div class="disclaimer">
          Disclaimer: Site Registry information has been filed in accordance with the provisions of the
          <i>Environmental Management Act</i>. While we believe the information to be reliable, BC Registries and Online
          Services and the province of British Columbia make no representation or warranty as to its accuracy or
          completeness. Persons using this information do so at their own risk.
        </div>
      </div>
    </div>
  </body>
</html>
